
/* Your CSS Code here. */
.holder{
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-template-row:22px 22px;
	width:200px;
	

}
.item{
	display:flex;
	border:1px solid red;
	padding:1px;
	text-align:center;
    justify-content:center;
	align-items:center;
}